<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.tejashangdroid" >

    <!-- uses permission to read sms -->

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Request Permission to Read ContactsActivity Provider -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TejasSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name=".GameOverActivity"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WinActivity"
            android:label="@string/title_activity_win"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MultiPlayerActivity"
            android:label="@string/title_activity_multi_player" >
        </activity>
        <activity
            android:name=".GameMultiActivity"
            android:label="@string/title_activity_multi_game" >
        </activity>
        <activity
            android:name=".WinMultiPlayerActivity"
            android:label="@string/title_activity_win_multi_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScoresActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <activity
            android:name=".SinglePlayerActivity"
            android:label="@string/title_activity_single_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OnePlayerLetterActivity"
            android:label="@string/title_activity_one_player_letter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TextActivity"
            android:label="@string/title_activity_text" >
        </activity>
        <activity
            android:name=".Game2Activity"
            android:label="@string/title_activity_game2"
            android:screenOrientation="portrait"
            android:theme="@style/App2Theme" >
        </activity>

        <receiver
            android:name=".IncomingSMS"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".GameMultiActivity2"
            android:label="@string/title_activity_game_multi2" >
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="@string/title_activity_contacts" >
        </activity>
        <activity
            android:name=".NextScreenActivity"
            android:label="@string/title_activity_next_screen" >
        </activity>
    </application>

</manifest>
